[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
json-environ = "*"
mypy = "*"
py-algorand-sdk = "*"
tinyman-py-sdk = {editable = true, git = "https://github.com/tinymanorg/tinyman-py-sdk.git"}
algofi-amm-py-sdk = {editable = true, git = "https://github.com/Algofiorg/algofi-amm-py-sdk"}
pactsdk = "*"
pymongo = {extras = ["srv", "tls"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
